venv/
.DS_Store
*.pyc
node_modules/
web-app/.env

# Xcode
DerivedData/
build/
*.xcuserdatad/*
!*.xcshareddata
xcuserdata/
*.xcuserstate
**/UserInterfaceState.xcuserstate
*.moved-aside
*.xcscmblueprint

# SwiftPM
/.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store